* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "sec1 sec1 sec2 sec2"
    "sec3 sec4 sec4 sec5"
    "sec6 sec7 sec7 sec5"
    "sec8 sec9 sec10 sec10";
}

.sec1 {
  grid-area: sec1;
  display: flex;
  padding-left: 4%;
  padding-right: 4%;
  justify-content: space-around;
  align-items: center;

  .text { 
    align-items: center;
    width: 32%;

    

    h2 { 
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        color: #9fa3a7;
        line-height: 20px;
        letter-spacing: 2px;
    }

    p { 
        font-family: "Arvo", serif;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 22px;
        line-height: 32px;
        font-weight: 400;
    }

    h4 { 
        font-family: "Open Sans", sans-serif;
        color: #9fa3a7;
        line-height: 26px;
        font-size: 14px;
        font-weight: 400;
    }
  }

  
  img { 
    width: 249px;
    margin-top: 40px;
    align-self: flex-end;
    display: inline-block;
}
}

.sec2 {
  grid-area: sec2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f8f9;
  text-align: center;

  h2 { 
    font-family: "Montserrat", sans-serif;
    color: #9fa3a7;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  p { 
    font-family: "Arvo", serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  a { 
    color: #27b9c2;
    text-decoration: underline;
  }

}

.sec3 {
  grid-area: sec3;
  background-color:#f05638;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fffbfb;

  img { 
    max-width: 100%;
  }

  p { 
    font-family: "Arvo", serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  a { 
    color: #ffc80a;
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    letter-spacing: 2.4px;
    font-weight: 700;
    font-size: 12px;
  }

}

.sec4 {
  grid-area: sec4;
}

.sec5 {
  grid-area: sec5;
}

.sec6 {
  grid-area: sec6;
}

.sec7 {
  grid-area: sec7;
}

.sec8 {
  grid-area: sec8;
}

.sec9 {
  grid-area: sec9;
}

.sec10 {
  grid-area: sec10;
}
